div {
  text-align: center;
}

label {
  display: block;
  font-size: large;
  text-align: center;
}

span {
  white-space: pre-line;
}

#inputHolder {
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 10px;
  font-size: larger;
  height: 50vh;
  width: 80%;
  resize: none;
}

button {
  height: 100;
  width: 100;
  font-size: large;
  color: white;
  background-color: blue;
  padding: 10px;
}
